USE [Care365]
GO
/****** Object:  StoredProcedure [dbo].[CPN_MasterData_GetMasterUsersList]    Script Date: 8/2/2017 11:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CPN_MasterData_GetMasterUsersList]
	


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


			SELECT aspuser.id as UserId,aspuser.UserName as UserName , asprole.Name as RoleName 
			FROM [dbo].[AspNetUsers]  aspuser
			INNER JOIN [dbo].[AspNetUserRoles] aspnetrole ON aspnetrole.UserId=aspuser.Id
			INNER JOIN [dbo].[AspNetRoles] asprole ON aspnetrole.RoleId=asprole.Id
			WHERE asprole.Name='MasterSalesRep'

END

GO
